@charset "utf-8";


@import url('font.css');
@import url('layout.css');
@import url('main.css');
@import url('style.css'); 

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, code, img, dl, dt, dd, ol, ul, li, fieldset, legend, caption { margin: 0; padding: 0; border: 0; }
div, span, article, section, header, footer, p, ul, li, fieldset, legend, label, a, nav { box-sizing: border-box; }
html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px; 
    height: -webkit-fill-available
}
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { min-width: 320px; font-family: 'Noto Sans','Open Sans', sans-serif; color: #000; word-break: keep-all; font-weight: 400; letter-spacing: -0.25px; }
h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans','Open Sans', sans-serif}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p, button {margin: 0; padding: 0; -webkit-text-size-adjust: none}
em {font-style: normal;}
fieldset, img, abbr, acronym {border: 0 none}
ol, ul {list-style: none}
table {border-collapse: collapse; border-spacing: 0}
hr {display: none}
a { color: #000; text-decoration: none; cursor: pointer}
button {border: 0 none; background: none}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0; padding: 0}
input[type="text"],input[type="password"],input[type="number"],input[type="tel"],input[type="email"],input[type="button"],input[type="submit"],textarea {
  border-radius:0;-webkit-appearance: none;-moz-appearance: none
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {cursor: pointer; overflow: visible}
input[type="checkbox"],
input[type="radio"] {width: 14px; height: 14px; line-height: 14px; box-sizing: border-box}
input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
textarea {overflow: auto; resize: none}
select {appearance:none;}
input::placeholder {color: #c3c3c3;}

/* 건너뛰기 네비게이션 */
#skip_nav {width: 100%; height: 0; text-align: center; overflow: hidden}
#skip_nav a {color: #fff; font-size: 16px; line-height: 30px; font-weight: 800; float: left}
#skip_nav a:focus, 
#skip_nav a:hover, 
#skip_nav a:active {position: absolute; top: 0; left: 0; width: 100%; height: 30px; text-decoration: underline; background-color: #000; overflow: visible; z-index: 9999}



/* global */
.clearfix {*zoom:1}
.clearfix:after{display: block;content:'';clear: both}
.ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;color:transparent}
.thumb_g{display:block;max-width:100%}
.img_g{display:block;max-width:100%}