/* wrap - main */
#wrap{overflow:hidden;min-width:1360px;max-width:1920px;padding-top:130px;margin: 0 auto;}
#wrap.has_headbanner {padding-top: 232px}
#container{min-height: calc(100vh - 130px - 257px);}


/* head_banner */
.head_banner {position: fixed;top: 0;left: 0;right: 0;z-index: 100;background-color: #e97a7a;}
.head_banner .inner_banner {display: flex;align-items: center;max-width: 815px;padding: 19px 0;margin: 0 auto;}
.head_banner .inner_banner .ico_notice {width: 64px;height: 64px;margin-right: 26px;background: url(../img/common/ico_popup_notice.png) no-repeat 50%;background-size: cover;}
.head_banner .inner_banner p {font-size: 16px;line-height: 32px;letter-spacing: -0.025em;color: #ffdcdc;}
.head_banner .btn_close {overflow: hidden;position: absolute;top: 10px;right: 9px;width: 21px;height: 21px;text-indent: -999px;color: transparent;background: url(../img/common/ico_popup_notice_colse.png) no-repeat 0 0;background-size: cover;}

/* header */
.header{position:fixed;left:0;top:0;right:0;z-index:100;min-width: 1360px;}
.has_headbanner .header {top: 102px;}
.header .top_quickmenu{height:39px;padding:0 40px;font-size:0;text-align:right;background-color: #fff;border-bottom: 1px solid #e2e2e2;box-sizing: border-box}
.header .top_quickmenu .link_menu{display:inline-block;position:relative;padding:0 8px;font-size:14px;line-height:38px;color: #333;}
.header .top_quickmenu .link_menu + .link_menu::after{position:absolute;left:-1px;top:50%;margin-top:-1px;width:2px;height:2px;background-color:#333;content:''}
.header .top_quickmenu .list_quickmenu{float: left}
.header .top_quickmenu .list_quickmenu li{display: inline-block;position:relative;vertical-align: top}
.header .top_quickmenu .list_quickmenu li + li::after{position:absolute;left:-1px;top:50%;margin-top:-1px;width:2px;height:2px;background-color:#333;content:''}


/* gnb */
.wrap_gnb{position:relative;height:91px;padding:0 40px;background: #fff;text-align: center;font-size:0}
.wrap_gnb .logo{position:absolute;left:40px;top:27px}
.wrap_gnb .logo .link_logo{display:block;width:228px;height:38px;background:url(../img/common/logo.png) no-repeat 0 0;background-size: 100% auto}
.wrap_gnblist{display: inline-block;position:relative} 
.wrap_gnblist .list_menu{font-size:0;text-align: center}
.wrap_gnblist .list_menu > li{display: inline-block;padding:0 31px;vertical-align: top;}
.wrap_gnblist .list_menu > li > .link_menu{display:block;position:relative;padding:27px 0 26px;font-size:18px;line-height:38px;font-weight: 500;}
.wrap_gnblist .list_menu > li:hover > .link_menu{color: #e34e64;font-weight: bold;}
.wrap_gnblist .list_menu > li:hover > .link_menu::after{position:absolute;left:0;right:0;bottom:0;height:2px;background-color:#e34e64;content: ''}
.wrap_gnblist .bg_depth2{display: none;position:fixed;top:130px;left:0;right:0;z-index: -1;height:219px;border-top:1px solid #eaeaea;background-color: #fff;box-shadow: 18px 3px 27px rgba(173,173,173,0.22)}
.has_headbanner .wrap_gnblist .bg_depth2 {top: 232px;}
.wrap_gnblist .list_menudep2{display: none;position: absolute;padding-top:23px;text-align: left}
.wrap_gnblist .list_menudep2  li + li {margin-top: 8px;}
.wrap_gnblist .list_menudep2 .link_menu{display: block;}
.wrap_gnblist .list_menudep2 .txt_menu{display:inline-block;position:relative;padding-right:14px;margin:5px 0;font-size:14px;line-height:18px;color: #333}
.wrap_gnblist .list_menudep2  li:hover .txt_menu{color:#e34e64}
.wrap_gnb .btn_allmenu{display:block;position: absolute;right:37px;top:24px;width:23px;padding:10px 3px;box-sizing: unset}
.wrap_gnb .btn_allmenu span[class^=bar_]{display: block;height:2px;background-color:#3b302f}
.wrap_gnb .btn_allmenu .bar_bottom{margin-top:5px}


/* allmenu */
.wrap_allmenu{display: none;justify-content: center;align-items: center;position: fixed;left:0;top:0;right:0;bottom:0;z-index: 100;}
.wrap_allmenu .bg_allmenu{position:absolute;left:0;top:0;right:0;bottom:0;z-index:-1;background-color: rgba(59,48,47,0.4)}
.cont_allmenu{overflow:hidden;position:relative;width:960px;height:572px;margin:30px;background-color:#fff;box-sizing: border-box}
.cont_allmenu .area_allmenu{display: flex;align-items: center;height: 100%;padding: 65px 94px;box-sizing: border-box;}
.cont_allmenu .area_allmenu .list_quickmenu{display: none;}
.cont_allmenu .list_menu {width: 100%;}
.cont_allmenu .list_menu > li {display: flex;align-items: center;}
.cont_allmenu .list_menu > li > .link_menu{flex: 0 0 205px;font-size:22px;line-height:23px;font-weight:bold;color:#333}
.cont_allmenu .list_menu > li + li{margin-top: 46px;}
.cont_allmenu .list_menudep2{font-size: 0;}
.cont_allmenu .list_menudep2 li{display: inline-block;margin-left: 26px;vertical-align: top}
.cont_allmenu .list_menudep2 .link_menu{display: block;position:relative;font-size:16px;line-height: 20px;color:#333;}
.cont_allmenu .list_menudep2 li:hover .link_menu{color: #e34e64;font-weight: bold;}
.cont_allmenu .list_menudep2 li:hover .link_menu::after{position: absolute;left:0;right:0;bottom: -2px;height:1px;background-color:#e34e64;content: ''}
.cont_allmenu .link_close{position:absolute;right: 0;top: 0;width:65px;height:65px;background: url(../img/common/ico_close_allmenu.png) no-repeat 0 0;background-size: cover}


/* footer */
.footer{background-color: #333;}
.footer_inner{position: relative;max-width: 1200px;margin: 0 auto;padding: 50px 0;text-align: center;}
.top_footermenu .list_menu{font-size:0;margin-left: -18px;}
.top_footermenu .list_menu li{display: inline-block;position:relative;vertical-align: top;}
.top_footermenu .list_menu li + li::before{display:inline-block;margin-top: 7px;width: 2px;height: 2px;background-color: #fff;content: ''}
.top_footermenu .list_menu .link_menu{display: inline-block;padding:0 10px;font-size: 16px;line-height: 1;color: #fff;font-weight: 400;vertical-align: top;}
.footer_inner .footer_info {margin-top: 25px;font-family: NotoSans-Regular,'Noto Sans KR', sans-serif;font-size: 14px;line-height: 26px;color: #b3b3b3;font-weight: 300;}


/* submenu */
.wrap_submenu{position:relative;height: 428px;background: url(../img/sub/sub_visual.png) no-repeat 0 0;background-size: cover;}
.wrap_submenu:before{position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.2);content:''}
.wrap_submenu .inner_menu{position: relative;max-width: 1200px;height:100%;margin:0 auto;}
.wrap_submenu .menu_depth1{position:absolute;top:50%;left:0;width:100%;margin-top:-33px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.wrap_submenu .menu_depth1 .tit_menu{display:block;font-size:54px;color:#fff;text-align:center}
.wrap_submenu .menu_depth2{position:absolute;bottom:0;left:0;right:0;height:67px;background-color:#e34e64;text-align:center;}
.wrap_submenu .menu_depth2 .tit_menu{display:none}
.wrap_submenu .list_menu{font-size:0}
.wrap_submenu .list_menu li{display:inline-block;vertical-align:top}
.wrap_submenu .list_menu .link_menu{display:block;padding:0 20px;font-size:18px;line-height:67px;color:#fff}
.wrap_submenu .list_menu .on .link_menu{font-weight:bold}


/* footer submenu */
.wrap_main_submenu{height: 85px;border-top: 1px solid #e2e2e2;background: #fff;}
.wrap_main_submenu .inner_menu{display:flex;position: relative;height: 100%;max-width: 1202px;margin:0 auto;}
.wrap_main_submenu .menu_cate {position: relative;z-index: 10;height: 100%;width: 33.333%;}
.wrap_main_submenu .menu_cate .tit_menu{display: block;position: relative;padding:0 80px 0 40px;font-size: 16px;line-height:85px;font-weight: normal;color: #333;cursor: pointer;}
.wrap_main_submenu .menu_cate .tit_menu::before {position: absolute;right: 0;top: 16px;bottom: 15px;width: 1px;background-color: #e2e2e2;content: "";}
.wrap_main_submenu .menu_cate .tit_menu::after{position: absolute;top: 50%;right: 38px;width: 9px;height: 5px;margin-top: -4.5px;background: url(../img/common/ico_bottommenu_arr.png) no-repeat;background-size: 100%;content: '';}
.wrap_main_submenu .menu_cate.on .tit_menu::after{transform: rotate(180deg);}
.wrap_main_submenu .menu_cate1::before {position: absolute;left: 0;top: 16px;bottom: 15px;width: 1px;background-color: #e2e2e2;content: "";}
.wrap_main_submenu .menu_cate .list_menu{display: none;position: absolute;left: -1px;right: -1px;bottom: 100%;padding:46px 38px;border: 1px solid #e2e2e2;background-color: #fff;}
.wrap_main_submenu .menu_cate .list_menu .link_menu{display: block;padding: 10px 0;font-size: 15px;line-height: 15px;font-weight: 500;}
.wrap_main_submenu .menu_cate .list_menu li:hover .link_menu{color:#e34e64}




/* responsive css */
@media screen and (max-width: 1024px) {
  #wrap{min-width: 0;padding-top: 74px;}
  #wrap.has_headbanner {padding-top: 74px;}
  #container{min-height: calc(100vh - 74px - 305px);}
  /* header */
  .header{min-width: 0}
  .has_headbanner .header {top: 0;}
  .header .top_quickmenu{height: 33.5px;padding: 0;background: #f6f6f6;border-bottom: none;}
  .header .top_quickmenu .list_quickmenu{display: none;}
  .header .top_quickmenu .link_menu{width: 50%;font-size: 12px;line-height: 33.5px; text-align: center;}
  .header .top_quickmenu .link_menu:nth-child(2){display: none;}
  .header .top_quickmenu .link_menu + .link_menu::after{left:-0.5px;top:0;width: 1px;height:100%;margin: 0;background-color: #e2e2e2}
  
  /* gnb */
  .wrap_gnb{height: 45px;padding: 0 15px}
  .wrap_gnb .logo{left: 15px;top: 13px;}
  .wrap_gnb .logo .link_logo{width: 149.5px;height: 19px;}
  .wrap_gnblist{display: none;}
  .wrap_gnb .btn_allmenu{right: 10px;top: 5.5px;width: 20px;padding: 11px 5px;}
  .wrap_gnb .btn_allmenu .bar_bottom{margin-top: 4.5px;}
  
  /* site menu */
  .cont_allmenu{overflow: visible;display: block;position: absolute;right:0;top:0;width: 71%;height: 100%;margin: 0;border-radius: 0;}
  .cont_allmenu .link_close{top:0;right: 100%;width:29px;height:29px;background-image: url(../img/common/ico_close_allmenu_mo.png)}
  .cont_allmenu .area_thumb{display: none;}
  .cont_allmenu .area_allmenu{display: block;padding: 0;text-align: center;}
  .cont_allmenu .area_allmenu .list_quickmenu{display: block;font-size: 0;}
  .cont_allmenu .list_quickmenu li{display: inline-block;position: relative;vertical-align: top;}
  .cont_allmenu .list_quickmenu li + li {margin-left: 1px;}
  .cont_allmenu .list_quickmenu li + li::after{position: absolute;left: -1px;top: 50%;margin-top: -3.5px;width: 1px;height: 7px;background-color: #e2e2e2;content: '';}
  .cont_allmenu .list_quickmenu .link_menu{display: block;padding: 0 9px;font-size: 14px;line-height: 42px;}
  .cont_allmenu .list_menu {text-align: left;border-top: 1px solid #e2e2e2;}
  .cont_allmenu .list_menu > li {display: block;}
  .cont_allmenu .list_menu > li + li{margin-top: 0;}
  .cont_allmenu .list_menu > li > .link_menu{display: block;position:relative;padding: 0 17px;margin:0;font-size:16px;line-height:47px;color: #333;text-align: left;border-bottom: 1px solid #e2e2e2;}
  .cont_allmenu .list_menu > li.active > .link_menu {background-color: #e97a7a;color: #fff}
  .cont_allmenu .list_menu > li > .link_menu::after{position: absolute;top: 50%;right:17px;width: 13.5px;height:7.5px;margin-top: -3.25px;background: url(../img/common/ico_allmenu_arr.png) no-repeat;background-size: cover;content: '';}
  .cont_allmenu .list_menu > li.active > .link_menu::after{background-image: url(../img/common/ico_allmenu_arr_on.png);}
  .cont_allmenu .list_menudep2{display: none;margin-top: 0;}
  .cont_allmenu li.active .list_menudep2{display: block}
  .cont_allmenu .list_menudep2 li{display: block;margin-left: 0;border-bottom: 1px solid #e2e2e2;}
  .cont_allmenu .list_menudep2 .link_menu{padding: 0 18px;line-height: 36px;color: #333}
  .cont_allmenu .list_menudep2 li:hover .link_menu{color:#333}
.cont_allmenu .list_menudep2 li:hover .link_menu::after{display: none;}

  /* footer */
  .footer_inner{padding: 25px 15px;}
  .top_footermenu .list_menu{text-align: center;margin-left:0}
  .top_footermenu .list_menu .link_menu{padding:0 6px;font-size:11px;line-height:17px;}
  .top_footermenu .list_menu li + li::before{padding: 0;font-size:7px;line-height:20px;}
  .top_footermenu .list_menu li + li:nth-child(4)::before{display: none;}
  .footer_inner .footer_info {margin-top: 20px;font-size: 11px;line-height: 17px;}


  /* submenu */
  .wrap_submenu{height: auto;background:none}
  .wrap_submenu:before{display:none}
  .wrap_submenu .menu_depth1{position:relative;top:0;height:154px;margin-top:0;background:url(../img/sub/sub_visual_mo.png) no-repeat 0 0 / cover;-webkit-transform:translateY(0);transform:translateY(0)}
  .wrap_submenu .menu_depth1:before{position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.2);content:''}
  .wrap_submenu .menu_depth1 .tit_menu{position:absolute;top:50%;left:0;width:100%;font-size:28px;line-height:42px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
  .wrap_submenu .menu_depth2{position:relative;z-index:10;height:auto;background-color:#fff;text-align:left}
  .wrap_submenu .menu_depth2 .tit_menu{display:block;position:relative;height:50px;padding:0 15px;font-size:14px;line-height:50px;color:#e34e64;font-weight:bold;border-bottom: 1px solid #e2e2e2;-webkit-box-sizing:border-box;box-sizing:border-box}
  .wrap_submenu .menu_depth2 .tit_menu::after{position: absolute;top: 50%;right: 17px;width: 20px;height: 20px;margin-top: -10px;background: url(../img/common/ico_submenu_arr.png) no-repeat;background-size: 100%;content: '';}
  .wrap_submenu .menu_depth2.on .tit_menu::after{transform: rotate(180deg);}
  .wrap_submenu .list_menu{display:none;position:absolute;top:100%;left:0;width:100%;padding:14px 0;background-color:#fff;border-bottom: 1px solid #e2e2e2;}
  .wrap_submenu .list_menu li{display:block}
  .wrap_submenu .list_menu .link_menu{padding:0 15px;font-size:14px;line-height:34px;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
  .wrap_submenu .list_menu .on .link_menu{color:#e34e64}

  /* footer submenu */
  .wrap_main_submenu {height: auto;border-top: none;}
  .wrap_main_submenu .inner_menu {display: block;}
  .wrap_main_submenu .menu_cate {width: 100%;}
  .wrap_main_submenu .menu_cate1::before {display: none;}
  .wrap_main_submenu .menu_cate .tit_menu {padding: 0 35px 0 15px;font-size: 12px;line-height: 52px;border-top: 1px solid #e2e2e2;}
  .wrap_main_submenu .menu_cate .tit_menu::before {display: none;}
  .wrap_main_submenu .menu_cate .tit_menu::after {right: 15px;width: 8px;height: 5px;margin-top: -4px;}
  .wrap_main_submenu .menu_cate .list_menu {padding: 26px 15px;border-bottom: none;}
  .wrap_main_submenu .menu_cate .list_menu .link_menu {padding: 0;font-size: 12px;line-height: 25px;font-weight: 400;}
}







