/* 8. 마이페이지 */
.cont_flextable{margin-top: 26px;}

.cont_search {display: flex;justify-content: center;height: 60px;margin: 80px auto 0;}
.cont_search .select_box{position: relative;flex: 0 0 280px;height:100%;border: 1px solid #e2e2e2;background-color: #fff;}
.cont_search .select_box + .select_box {margin-left: 10px;}
.cont_search .select_box.select_month {flex: 0 0 140px;}
.cont_search .select_box::after {position: absolute;top: 27px;right: 20px;z-index: 10;width: 10px;height: 5px;background: url(../img/sub/ico_select_arr.png) no-repeat 0 0;background-size: 100%;content: '';}
.cont_search .select_box .select {display: block;width: 100%;height: 100%;padding: 0 50px 0 23px;border: none;font-size: 16px;color: #333;}
.cont_search .btn_search{flex: 0 0 144px;overflow: hidden;margin-left: 10px;font-size:16px;line-height: 60px;color: #fff;font-weight: 500;text-align: center;letter-spacing: -0.025em;background-color: #000;}

.cont_flextable .list_head{display: flex;align-items: center;justify-content: space-between;position: relative;height: 52px;padding-right: 56px;border-top: 2px solid #e34e64;border-bottom: 1px solid #e2e2e2;background-color: #fff8f8;}
.cont_flextable .list_head li strong {display: block;font-size: 16px;font-weight: 500;color: #333;text-align: center;}
.cont_flextable .list_body li{display: flex;align-items: center;justify-content: space-between;position: relative;height: 60px;padding-right: 56px;border-bottom: 1px solid #e2e2e2;box-sizing: border-box;}
.cont_flextable .list_body [class^='col_']{font-size: 16px;color: #333;font-weight: 400;text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;box-sizing: border-box;}
.cont_flextable .list_body .select_box {display: block;position: relative;width:100%;height:40px;border: 1px solid #e2e2e2;}
.cont_flextable .list_body .select_box::after {position: absolute;top: 18px;right: 18px;z-index: 10;width: 10px;height: 5px;background: url(../img/sub/ico_select_arr.png) no-repeat 0 0;background-size: 100%;content: '';}
.cont_flextable .list_body .select_box .select {display: block;width: 100%;height: 100%;padding: 0 30px 0 18px;border: none;}
.cont_flextable .list_body .emph_txt {color: #7d191b;font-weight: 500;}
.cont_flextable .list_body .btn_delete {overflow: hidden;position: absolute;right: 26px;width: 13px;height: 14px;text-indent: -9999px;background: url(../img/sub/ico_list_delete.png)no-repeat 0 0;background-size: 100%;}

.cont_flextable .col_num {flex: 0 1 80px;}
.cont_flextable .col_tit {flex: 0 1 286px;padding:0 27px;}
.cont_flextable .col_fee {flex: 0 1 124px;}
.cont_flextable .col_pay {flex: 0 1 129px;}
.cont_flextable .col_account {flex: 0 1 235px;}
.cont_flextable .col_state {flex: 0 1 170px;}
.cont_flextable .col_date {flex: 0 1 111px;}

.cont_calendar {margin-top: 24px;height: 614px;}

.area_attendance .select_box {display: block;position: relative;width: 210px;height: 60px;border: 1px solid #e2e2e2;}
.area_attendance .select_box::after {position: absolute;top: 28px;right: 18px;z-index: 10;width: 10px;height: 5px;background: url(../img/sub/ico_select_arr.png) no-repeat 0 0;background-size: 100%;content: '';}
.area_attendance .select_box .select {display: block;width: 100%;height: 100%;padding: 0 50px 0 23px;font-size: 16px;border: none;}

.list_video {font-size: 0;margin-top: -32px;}
.list_video li {display: inline-block;width: calc(50% - 10px);margin-right: 10px;margin-top: 32px;vertical-align: top;}
.list_video li:nth-child(2), .list_video li:nth-child(4) {margin-right: 0;margin-left: 10px;}
.list_video li .img_box {position: relative;}
.list_video li .img_box::after {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);content: '';}
.list_video li .img_box .ico_play {position: absolute;left: 50%;top: 50%;z-index: 1;width: 38px;height: 52px;background: url(../img/sub/ico_play.png) no-repeat 0 0;background-size: cover;transform: translate(-50%, -50%);}
.list_video .info_course {display: flex;align-items: center;justify-content: space-between;padding: 32px 0;border-bottom: 1px solid #e2e2e2;}
.list_video .info_course strong {flex: 0 0 431px;overflow: hidden;font-size: 18px;font-weight: 500;line-height: 1;color: #333;white-space: nowrap;text-overflow: ellipsis;}
.list_video .info_course span {font-size: 16px;font-family: 'Roboto', sans-serif;color: #999;line-height: 1;}

.course_view {display: flex;padding: 40px 0;border-top: 2px solid #e34e64;border-bottom: 1px solid #e2e2e2;}
.course_view .box_video {flex: 0 0 590px;position: relative;padding-top: 313px;}
.course_view .box_video > * {position: absolute;left:0;top:0;width: 100%;height: 100%;}
.course_view .box_info {flex: 1;padding: 30px 131px 0 48px;}
.course_view .box_info .tit_txt {display: block;overflow: hidden;font-size: 18px;font-weight: 500;line-height: 1;color: #333;letter-spacing: -0.025em;white-space: nowrap;text-overflow: ellipsis;}
.course_view .box_info .date {display: block;margin-top: 20px;font-size: 16px;color: #999;line-height: 1;}
.course_view .box_info p {margin-top: 52px;font-size: 16px;line-height: 28px;color: #333;letter-spacing: -0.025em;white-space: pre-line;}


.cont_input .module_input.type_aligntop {align-items: flex-start;}
.cont_input .module_input.type_aligntop .label {margin-top: 20px;}
.cont_input .module_input .box_input.box_small {width: 372px;}
.cont_input .module_input .box_textarea {display: block;overflow: hidden;position: relative;height: 294px;border: 1px solid #e2e2e2;background-color: #fff;}
.cont_input .module_input .box_textarea .textarea {display: block;width: 100%;height: 100%;padding: 20px;border: none;font-size: 16px;color: #333;box-sizing: border-box;}


.list_management {border-top: 2px solid #e34e64;}
.list_management li {position: relative;padding: 22px 60px 24px 24px;border-bottom: 1px solid #e2e2e2;}
.list_management li .btn_delete {display: flex;align-items: center;justify-content: center;position: absolute;right: 0;top:0;width: 60px;height: 100%;}
.list_management li .btn_delete .img_g {width: 13px;}
.list_management .box_info {font-size: 18px;font-weight: 500;color: #333;font-family: 'Noto Sans',sans-serif;}
.list_management .box_info .emph_txt {margin-right: 9px;color: #7d191b;}
.list_management .box_info .application {display: block;margin-top: 12px;font-size: 16px;letter-spacing: -0.025em;color: #333;}






/* responsive css */
@media screen and (max-width: 1024px) {
  .cont_search {flex-wrap: wrap;width: 100%;height: 36px;margin-top: 35px;}
  .cont_search .btn_search {flex: 0 0 77.5px;margin-left: 7px;font-size: 12px;line-height: 36px;}
  .cont_search .select_box {flex: 1;}
  .cont_search .select_box + .select_box {margin-top: 7px;margin-left: 0;}
  .cont_search.type_multiple {height: auto;}
  .cont_search.type_multiple > * {height: 36px;}
  .cont_search.type_multiple .select_box {flex: 0 0 100%;}
  .cont_search.type_multiple .select_box.select_month {flex: 1;}
  .cont_search.type_multiple .btn_search {margin-top: 7px;}
  .cont_search .select_box::after {top: 16px;right: 13px;width: 9px;height: 4.5px;}
  .cont_search .select_box .select {padding: 0 32px 0 13px;font-size: 12px;}

  .cont_flextable {border-top: 2px solid #e34e64;}
  .cont_flextable .list_head{display: none;}
  .cont_flextable .list_body li {display: block;height: auto;padding: 18px 40px 18px 0;}
  .cont_flextable .list_body [class^='col_'] {display: block;text-align: left;font-size: 12px;line-height: 1.3;white-space: normal;}
  .cont_flextable .list_body [class^='col_'] + [class^='col_'] {margin-top: 11px;}
  .cont_flextable .list_body .btn_delete {top: 18px;right: 0;width: 10px;height: 11px;}
  .cont_flextable .list_body .select_box {width: 115px;}
  .cont_flextable .list_body .col_tit {padding: 0;font-weight: 500;}
  .cont_flextable .list_body .type_mo {display: inline-block;}

  .cont_calendar {margin-top: 20px;height: 192px;}

  .area_attendance .select_box {height: 36px;}
  .area_attendance .select_box::after {top: 16px;right: 13px;width: 9px;height: 4.5px;}
  .area_attendance .select_box .select {font-size: 12px;padding: 0 40px 0 13px;}

  .list_video li {width: calc(100% - 0px);margin-right: 0;margin-top: 20px;}
  .list_video li:nth-child(2), .list_video li:nth-child(4) {margin-left: 0;}
  .list_video .info_course {display: block;padding: 16px 0;}
  .list_video .info_course strong {display: block;font-size: 12px;line-height: 18px;}
  .list_video .info_course span {font-size: 11px;line-height: 18px;padding-top: 10px;}
  .list_video li .img_box .ico_play {width: 19px;height: 26px;}

  .course_view {display: block;padding: 15px 0 18px;}
  .course_view .box_video {padding-top: 56.25%;}
  .course_view .box_info {padding: 18px 0 0;}
  .course_view .box_info .tit_txt {font-size: 12px;}
  .course_view .box_info .date {margin-top: 12.5px;font-size: 11px;}
  .course_view .box_info p {margin-top: 23px;font-size: 12px;line-height: 18px;}

  .cont_input .module_input.type_aligntop .label {margin-top: 0;}
  .cont_input .module_input .box_textarea {height: 218px;}
  .cont_input .module_input .box_textarea .textarea {padding: 10px 11.5px;font-size: 11px;}

  .list_management li {padding: 17.5px 30px 18px 0;}
  .list_management .box_info {font-size: 12px;}
  .list_management .box_info .emph_txt {margin-right: 5px;}
  .list_management .box_info .application {display: block;margin-top: 5px;font-size: 12px;}
  .list_management li .btn_delete {align-items: flex-start;justify-content: flex-end;width: 30px;padding-top: 18px;}
  .list_management li .btn_delete .img_g {width: 10px;}
}