<div class="top_quickmenu">
  <span class="screen_out">퀵메뉴 리스트</span>
  <ul class="list_quickmenu">
    <li><a href="#none" class="link_menu">고양시청</a></li>
    <li><a href="#none" class="link_menu">통합예약</a></li>
    <li><a href="#none" class="link_menu">고양시의회</a></li>
  </ul>
  <a href="#none" class="link_menu">로그인</a>
  <a href="#none" class="link_menu">회원가입</a>
  <a href="#none" class="link_menu">마이페이지</a>
</div>
<nav class="wrap_gnb">
  <h1 class="logo">
    <a href="/" class="link_logo"></a>
  </h1>
  <div class="wrap_gnblist">
    <ul class="list_menu">
      <li>
        <a href="#none" class="link_menu">여성회관 소개</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">연혁</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">기본목표 및 주요사업</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">직원소개</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">시설현황</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">오시는 길</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">시설이용</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">대강당 현황</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">대강당 일정 및 신청</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">부대시설 안내</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">주차장 이용 안내</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">교육안내</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">교육운영 안내</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">수강신청</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">강사지원 신청</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">취업상담</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">취업상담실 안내</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">취·창업 상담</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">일자리 정보</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">참여마당</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">공지사항</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">자주하는질문</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">묻고 답하기</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">동아리방</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">홍보마당</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">우리반 홍보</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">축하 메세지</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">포토갤러리</span></a></li>
        </ul>
      </li>
    </ul>
    <span class="bg_depth2"></span>
  </div>
  <button type="button" class="btn_allmenu">
    <span class="bar_top"></span><span class="bar_bottom"></span>
  </button>
</nav>

<div class="wrap_allmenu">
  <div class="cont_allmenu">
    <div class="area_allmenu">
      <ul class="list_quickmenu">
        <li><a href="#none" class="link_menu">고양시청</a></li>
        <li><a href="#none" class="link_menu">통합예약</a></li>
        <li><a href="#none" class="link_menu">고양시의회</a></li>
      </ul>
      <ul class="list_menu">
        <li>
          <a href="#none" class="link_menu">여성회관 소개</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">연혁</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">기본목표 및 주요사업</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">직원소개</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">시설현황</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">오시는 길</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">시설이용</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">대강당 현황</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">대강당 일정 및 신청</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">부대시설 안내</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">주차장 이용 안내</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">교육안내</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">교육운영 안내</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">수강신청</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">강사지원 신청</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">취업상담</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">취업상담실 안내</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">취·창업 상담</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">일자리 정보</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">참여마당</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">공지사항</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">자주하는질문</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">묻고 답하기</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">동아리방</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">홍보마당</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">우리반 홍보</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">축하 메세지</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">포토갤러리</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="#none" class="link_close"><span class="screen_out">닫기</span></a>
  </div>
  <span class="bg_allmenu"></span>
</div>

<!-- 헤더관련 공통 script : 헤더를 jquery로 끌어오면 js 파일이 안먹어서 헤더 밑에 작성 -->
<script>
$(function(){
  // gnb
  $('.wrap_gnblist').hover(function(){
    $('.wrap_gnb .list_menudep2').show();
    $('.wrap_gnb .bg_depth2').show();
  }, function(){
    $('.wrap_gnb .list_menudep2').hide();
    $('.wrap_gnb .bg_depth2').hide();
  });

  // all menu
  $('.wrap_gnb .btn_allmenu').click(function(){
    $('.wrap_allmenu').css('display', 'flex');
  });
  $('.cont_allmenu .link_close, .bg_allmenu').click(function(e){
    e.preventDefault();
    $('.wrap_allmenu').hide();
    $('.cont_allmenu .list_menu > li').removeClass('active');
  });
  
  
  $('.cont_allmenu .list_menu > li > .link_menu').click(function(e){
    e.preventDefault();
    if($(window).innerWidth() < 767){
      if($(this).parent('li').hasClass('active')){
        $(this).parent('li').removeClass('active');
      } else {
        $('.cont_allmenu .list_menu > li').removeClass('active');
        $(this).parent('li').addClass('active');
      }
    }
  });
  $(window).on('load resize', function(){
    if($(this).innerWidth() > 767){
      $('.cont_allmenu .list_menu > li').removeClass('active');
    }
  });
});
</script>
<!-- // 헤더 관련 공통 script -->