<div class="top_quickmenu">
  <span class="screen_out">퀵메뉴 리스트</span>
  <ul class="list_quickmenu">
    <li><a href="#none" class="link_menu">고양시청</a></li>
    <li><a href="#none" class="link_menu">통합예약</a></li>
    <li><a href="#none" class="link_menu">고양시의회</a></li>
  </ul>
  <a href="#none" class="link_menu">로그인</a>
  <a href="#none" class="link_menu">마이페이지</a>
</div>
<nav class="wrap_gnb">
  <h1 class="logo">
    <a href="/" class="link_logo"></a>
  </h1>
  <div class="wrap_gnblist">
    <ul class="list_menu">
      <li>
        <a href="#none" class="link_menu">고양생태환경교육센터</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">소개</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">기본목표 및 교육방향</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">고양생태공원, 일산호수공원</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">직원소개</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">찾아오시는 길</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">교육안내</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">교육운영안내</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">수강신청</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">환경교육프로그램</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">자연환경해설사 양성교육</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">수강신청</a>
      </li>
      <li>
        <a href="#none" class="link_menu">참여마당</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">자유게시판</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">참여후기</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">자주하는질문</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">묻고답하기</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">강사 / 자원봉사자<br>신청</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#none" class="link_menu">알림마당</a>
        <ul class="list_menudep2">
          <li><a href="#none" class="link_menu"><span class="txt_menu">공지사항</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">보도자료</span></a></li>
          <li><a href="#none" class="link_menu"><span class="txt_menu">자료실</span></a></li>
        </ul>
      </li>
    </ul>
    <span class="bg_depth2"></span>
  </div>
  <button type="button" class="btn_allmenu">
    <span class="bar_top"></span><span class="bar_bottom"></span>
  </button>
</nav>

<div class="wrap_allmenu">
  <div class="cont_allmenu">
    <div class="area_thumb"></div>
    <div class="area_allmenu">
      <ul class="list_quickmenu">
        <li><a href="#none" class="link_menu">고양시청</a></li>
        <li><a href="#none" class="link_menu">통합예약</a></li>
        <li><a href="#none" class="link_menu">고양시의회</a></li>
      </ul>
      <ul class="list_menu">
        <li>
          <a href="#none" class="link_menu">고양생태환경교육센터</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">소개</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">기본목표 및 교육방향</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">고양생태공원, 일산호수공원</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">직원소개</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">찾아오시는 길</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">교육안내</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">교육운영안내</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">수강신청</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">환경교육프로그램</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">자연환경해설사 양성교육</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">참여마당</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">자유게시판</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">참여후기</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">자주하는질문</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">묻고답하기</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">강사 / 자원봉사자 신청</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#none" class="link_menu">알림마당</a>
          <ul class="list_menudep2">
            <li><a href="#none" class="link_menu"><span class="txt_menu">공지사항</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">보도자료</span></a></li>
            <li><a href="#none" class="link_menu"><span class="txt_menu">자료실</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="#none" class="link_close"><span class="screen_out">닫기</span></a>
  </div>
  <span class="bg_allmenu"></span>
</div>

<!-- 헤더관련 공통 script : 헤더를 jquery로 끌어오면 js 파일이 안먹어서 헤더 밑에 작성 -->
<script>
$(function(){
  // gnb
  $('.wrap_gnblist').hover(function(){
    $('.wrap_gnb .list_menudep2').show();
    $('.wrap_gnb .bg_depth2').show();
  }, function(){
    $('.wrap_gnb .list_menudep2').hide();
    $('.wrap_gnb .bg_depth2').hide();
  });

  // all menu
  $('.wrap_gnb .btn_allmenu').click(function(){
    $('.wrap_allmenu').css('display', 'flex');
  });
  $('.cont_allmenu .link_close, .bg_allmenu').click(function(e){
    e.preventDefault();
    $('.wrap_allmenu').hide();
    $('.cont_allmenu .list_menu > li').removeClass('active');
  });
  
  
  $('.cont_allmenu .list_menu > li > .link_menu').click(function(e){
    e.preventDefault();
    if($(window).innerWidth() < 767){
      if($(this).parent('li').hasClass('active')){
        $(this).parent('li').removeClass('active');
      } else {
        $('.cont_allmenu .list_menu > li').removeClass('active');
        $(this).parent('li').addClass('active');
      }
    }
  });
  $(window).on('load resize', function(){
    if($(this).innerWidth() > 767){
      $('.cont_allmenu .list_menu > li').removeClass('active');
    }
  });
});
</script>
<!-- // 헤더 관련 공통 script -->